body{
  background-color:aliceblue;
}
h1{
  font-family:cursive;
  font-weight:solid;
}
h2{
  font-family:cursive;
  font-weight:solid;
}
p{
  font-weight:solid;
  font-family:cursive;    
}
h3{
  font-family:cursive;
  font-weight:solid;
}
.PUBG {
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
.minecraft {
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
.apexlegends{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
.amongus{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
.fortnite{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
.leagueoflegends{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
.callofdutywarzone{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
.valorant{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
.hearthstone{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
.counterstrike{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family: cursive;
  border-radius: 12px;
  padding: 5px;
}
  