body{
  background-color:rgb(249, 250, 252);
}
h1{
  font-family:calibri;
  font-weight:solid;
}
h2{
  font-family:calibri;
}
p{
  font-family:calibri;  
}
h3{
  font-family:calibri;
  font-weight:solid;
}
img {
  border-color: rgb(0, 0, 0);
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
}
.PUBG {
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
.minecraft {
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
.apexlegends{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
.amongus{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
.fortnite{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
.leagueoflegends{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
.callofdutywarzone{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
.valorant{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
.hearthstone{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
.counterstrike{
  border: solid 5px;
  border-color:black;
  color: rgb(0, 0, 0);
  font-family:calibri;
  border-radius: 12px;
  padding: 5px;
}
  